* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Index | Inicio */
/* body */
body {
  font-family: "Mooli", sans-serif;
  background-color: #ececec;
}

.mooli-regular {
  font-family: "Mooli", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Img de portada */
.img-portada {
  background: linear-gradient(to right, #d8d1071a, #64059b1f),
    url(../images/oficina-ip.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 89vh;
  overflow: hidden;
}

.cont-carrusel {
  background: linear-gradient(to right, #ecececab, #ecececab),
    url(https://i.gifer.com/SVKl.gif);
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
  filter: drop-shadow(#7405b4);
}

/* Titulo portada */
.titulo-portada {
  text-align: center;
  overflow: hidden;
}

.texto {
  text-shadow: 4px 2px 3px rgb(0, 0, 0);
  font-weight: 600;
  color: #dbdbdb;
  font-size: 3rem;
  padding-top: 140px;
  filter: drop-shadow(0 0 1px #9812e6);
}

.p {
  text-shadow: 2px 2px 3px #dbdbdb;
  margin-top: 30px;
  font-weight: 700;
  color: #000;
  font-size: 1.1rem;
}

/******************************* ESTILOS DE LETRAS DE H1 | H2 *********************************/
.h2-preg {
  text-shadow: 2px 2px 30px #dbdbdb;
  font-weight: 700;
  color: #000;
  font-size: 2rem;
}

.h1-preg {
  text-shadow: 2px 2px 3px #dbdbdb;
  font-weight: 700;
  color: #000;
  font-size: 2.3rem;
  margin-top: 40px;
  margin-bottom: 50px;
  font-weight: 800;
}

/* strong */
b,
strong {
  font-weight: bolder;
  color: #000;
}

/* Nav */
.bg-body-tertiary {
  background-color: #0b0404 !important;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #f3f3f3;
}

.nav-link {
  color: #f3f3f3;
}

.navbar-toggler-icon {
  background-image: url("https://img.icons8.com/glyph-neue/64/FFFFFF/source-code.png");
  width: 40px;
  height: 40px;
  filter: drop-shadow(0 0 2.5px #9812e6);
}

.navbar-nav .dropdown-menu {
  filter: drop-shadow(0 0 2.5px #9812e6);
}

.navbar-nav .nav-link:hover {
  background: #9812e6;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.dropdown-menu .dropdown-item:hover {
  background: #9812e6;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* FOOTER */
.footer {
  background-color: #f5f5f5;
  padding: 20px;
  overflow: hidden;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.footer-title {
  font-size: 1.33em;
  font-weight: bold;
}

.footer-description {
  font-size: 1rem;
  line-height: 1.7em;
}

.footer-social {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.footer-social li {
  margin-right: 10px;
}

.footer-social i {
  font-size: 2em;
}

.copyright {
  text-align: center;
  font-size: 0.8em;
  color: #777;
  margin-top: 30px;
  background-size: cover;
  background-clip: text;
}

*/ .img:hover,
svg:hover {
  outline: 3.5px solid #d0d00d;
}

/*ACERCA DE */
.img-acerca {
  width: 40%;
  margin: 20px;
  margin-bottom: 0;
}

.cover-text {
  margin: 20px;
}

p {
  font-size: 1.11rem;
  margin-bottom: 0.5rem;
}

.row-footer {
  margin-top: 20px;
}

.h1-acerca {
  margin-top: 50px;
  margin-bottom: 15px;
  background-image: url(https://i.gifer.com/fxy1.gif);
  background-size: cover;
  background-clip: text;
  color: transparent;
}

/* PREGUNTAS FRECUENTES */
.Container {
  margin: 20px;
}

.p-preg {
  margin-bottom: 15px;
}

.container-preg {
  margin: 20px;
}

.main-preg {
  min-height: 100vh;
}

.p-tienda {
  margin-top: 30px;
}

.div-tienda {
  margin: 20px;
}

/************************************** TIENDA *****************************************/
.img-tienda {
  width: auto;
}

.discount {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 10px;
}

.btn-primary {
  background-color: black;
  color: #fff;
}

.button.is-primary.is-outlined {
  margin: 5px;
}

.button.is-link.is-outlined {
  margin: 5px;
}

.h2-ini {
  font-size: 1.3em;
  font-weight: bold;
  margin: 20px;
  text-align: center;
}


/* Estilos para la transici칩n de la tarjeta al hacer hover */
/* .testimoniall:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.category {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 600;
  color: rgb(63, 121, 230);
  padding: 10px 7px 0;
}

.category:hover {
  cursor: pointer;
}

.heading {
  font-weight: 600;
  color: rgb(88, 87, 87);
  padding: 7px;
}

.heading:hover {
  cursor: pointer;
}

.author {
  color: gray;
  font-weight: 400;
  font-size: 11px;
  padding-top: 20px;
}

.name {
  font-weight: 600;
}

.name:hover {
  cursor: pointer;
}

.video-test {
  width: 100%;
  box-shadow: rgba(169, 172, 7, 0.646) 0px 40px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgb(15, 52, 67) 0px -3px 5px;
  border-radius: 5px;
}

.content {
  padding: 10px;
}

.figure {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
} */

/******************************* OFERTA EN TIENDA ********************/
.contenedor-anuncio {
  background-color: #0b0404;
  background-attachment: fixed;
  background-size: cover;
  height: 25px;
  overflow: hidden;
}

/******************************** ANIMACIONES *****************************888*/
@keyframes desplazamiento {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(650%);
  }
}

#anuncio {
  text-align: center;
  position: absolute;
  white-space: nowrap;
  animation: desplazamiento 25s linear infinite;
  font-size: 15px;
  color: #d0d00d;
}

#mensaje {
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.conte-regre {
  margin-top: 40px;
}

.contador {
  display: flex;
  font-size: 1.5rem;
  flex-wrap: wrap;
  border-radius: 8px;
  background-color: black;
  width: 270px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
}

/******************************* OFERTA EN TIENDA ********************/
.oferta-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  height: auto;
  margin: 0;
}

.p-ofer {
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

.unidad {
  text-align: center;
  background-color: red;
  color: #fff;
  border-radius: 3px;
  margin: 0 5px;
}

.separador {
  color: white;
  margin: 5px;
}

.hero {
  color: black;
  text-align: center;
  padding: 40px 20px;
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
}

/************ MEDIA QUERIES **************/
@media screen and (max-width: 768px) {
  @keyframes desplazamiento {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(330%);
    }
  }

  #anuncio {
    position: absolute;
    white-space: nowrap;
    animation: desplazamiento 20s linear infinite;
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .testimonials {
    overflow: hidden;
  }

  .testimonial-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    margin-bottom: 20px;
    padding: 5px;
  }

  .testimonial {
    flex: 0 0 100%;
    box-sizing: border-box;
    cursor: pointer;
  }

  .course {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    border-radius: 7%;
  }

  .course img {
    width: 100%;
    height: auto;
    display: block;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    background-color: #000000dc;
  }

  .overlay p.discount {
    color: #fff;
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  .overlay button {
    color: #fff;
    background-color: #d0d00d;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

  .testimonial:hover .overlay {
    opacity: 1;
  }

  /********************************** ESTILOS DE BOTONES DEL CARRUSEL ****************************/
  .carousel-control-prev-icon {
    background-image: url(../images/icons8-rebobinar-el-bot칩n-redondo-80.png);
    background-color: #7405b4;
    border-radius: 50%;
    box-shadow: #9812e6 0px 0px 0px 3px;
  }

  .carousel-control-next-icon {
    background-image: url(../images/icons8-avance-r치pido-redondo-80.png);
    background-color: #7405b4;
    border-radius: 50%;
    box-shadow: #9812e6 0px 0px 0px 3px;
  }

  /********************************* ANUNCIO TIENDA ********************************8*/
  @keyframes desplazamiento {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(220%);
    }
  }

  #anuncio {
    position: absolute;
    white-space: nowrap;
    animation: desplazamiento 20s linear infinite;
    font-size: 15px;
  }
}

/* MENSAJE DE TIENDA */
.message.is-link .message-body {
  border-color: #d0d00d;
  color: black;
}

/****************************** VIDEO INFORMATIVO ***************************/

/******************************* ESTILOS DE WTHATSAPP *********************************/
.Btn {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 999;
  animation: rubberBand 12s infinite;
}

.svgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(0px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all 0.3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
}

.BG {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #038273;
  z-index: -1;
  border-radius: 10px;
  pointer-events: none;
  transition: all 0.3s;
}

.Btn:hover .BG {
  transform: rotate(35deg);
  transform-origin: bottom;
}

.Btn:hover .svgContainer {
  background-color: #7c09beda;
  backdrop-filter: blur(4px);
}

@keyframes rubberBand {
  0%,
  100% {
    transform: scale(1);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: scale(1.05);
  }

  20%,
  40%,
  60%,
  80% {
    transform: scale(0.95);
  }
}

/******************************* ESTILOS DE CURSOS DE TIENDA *********************************/
.curso-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 25px;
  margin: 30px;
}

.curso-card {
  position: relative;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 8px;
  width: 300px;
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}

.curso-card:hover {
  transform: scale(1.05);
}

.bg-image {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 10px;
}

.bg-image img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.curso-info {
  padding: 10px;
}

.product-name {
  margin-top: 20px;
  text-decoration: none;
  font-size: 23px;
  text-align: center;
}

.price-info {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.original-price {
  text-decoration: line-through;
  color: #ff6347;
}

/************************************************ Seccion Carrito *******************************************/

.seccion-carrito {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carrito-container {
  border: 2px solid #ff6347;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  max-width: 600px;
  width: 100%;
  background: linear-gradient(to right, #b0ab0862, #4b057375),
    url(https://i.gifer.com/WXfK.gif);
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-size: contain;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.carro {
  margin-bottom: 10px;
}

#lista-carrito {
  text-align: center;
  list-style: none;
  padding: 0;
  text-shadow: 2px 2px 3px #dbdbdb;
  margin-top: 30px;
  font-weight: 700;
  color: #000;
}

#total-carrito {
  margin: 10px 0;
  font-weight: bold;
  font-weight: bolder;
  color: #000;
  text-shadow: 2px 1px 1px #64059b9f;
}

.btn-vaciar-carrito {
  background-color: #ff6347;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 1em;
  width: 100%;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.btn-vaciar-carrito:hover {
  background-color: #cc4c3e;
}

.swal2-cancel {
  margin: 10px;
}

.btn-vaciar-carritoo {
  background-color: #0b0404;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 1em;
  width: 100%;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.btn-vaciar-carritoo:hover {
  background-color: #cc4c3e;
}

/*********************************** Estilos de modal de cursos **************************/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.795);
  padding: 10px;
}

.modal-content {
  background-color: black;
  margin: 10% auto;
  padding: 10px;
  border: 1px solid #888;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.modal-contentt {
  background-color: white;
  margin: 105px auto;
  padding: 10px;
  border: 1px solid #888;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 40px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Agrega este estilo para el carrito desplegable */
#carrito-desplegable {
  position: fixed;
  top: 70px;
  /* Ajusta seg칰n tu dise침o */
  right: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  display: none;
  z-index: 1000;
}

.lista-carrito-desplegable {
  list-style: none;
  padding: 0;
}

.total-carrito-desplegable {
  margin-top: 10px;
  font-weight: bold;
}

.toastify {
  display: flex;
  padding: 12px 20px;
  color: #fff;
  box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12), 0 10px 36px -4px #4d60e84d;
  background: -webkit-linear-gradient(315deg, #73a5ff, #5477f5);
  position: fixed;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  max-width: calc(50% - 20px);
  z-index: 2147483647;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-items: flex-end;
}

/***************************** TOASTIFY ****************************/
.btn-success {
  background-color: #ff6347;
}

#contenedorGrafico {
  text-align: center;
  margin: auto;
}

.unique-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  max-width: 600px;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.unique-title {
  text-align: center;
  color: #333;
}

.unique-label {
  display: block;
  margin-bottom: 8px;
  color: black;
}

.unique-input,
.unique-textarea,
.unique-radio {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 30px;
}

.unique-input:focus,
.unique-textarea:focus,
.unique-radio:focus {
  border-color: #ff6347;
  outline: none;
}

.unique-options {
  margin-bottom: 15px;
}

.section-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5%;
  justify-content: center;
  align-items: center;
}

.btn-success:hover {
  background-color: #bc3020;
}

.conteneur-unique {
  text-align: center;
  padding: 20px;
}

.modal-unique {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contenu-modal-unique {
  margin: 5% auto;
  width: 80%;
}

.fermer-modal-panier {
  float: right;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.fermer-modal-panier:hover,
.fermer-modal-panier:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#bouton-panier img {
  vertical-align: middle;
}

#bouton-panier {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

#bouton-panier:hover {
  filter: brightness(120%);
}

.carr-mer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  filter: drop-shadow(0 0 2.5px #9812e6);
}

.playy {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10%;
}

.custom-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 530px;
  margin: 10%;
  padding: 20px;
  border-radius: 5px;
}

.field {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #9812e652;
  border-radius: 10px;
  box-sizing: border-box;
}

input[type="number"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #9812e652;
  border-radius: 10px;
  box-sizing: border-box;
}

input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #9812e652;
  border-radius: 10px;
  box-sizing: border-box;
}

#button {
  background-color: #ff6347;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#button:hover {
  background-color: #bc3020;
}


.message-container {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin: 20px 0;
  color: #333;
  line-height: 1.6;
}

.message-container h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #007BFF;
}

.message-container ul {
  list-style-type: none;
  padding: 0;
}

.message-container ul li {
  margin-bottom: 10px;
}

.message-container ul li::before {
  content: "游댳";
  margin-right: 5px;
}

.message-container ul li p {
  margin: 5px 0 5px 20px;
}

.message-container p {
  margin: 20px 0 0;
}

.message-container .thanks {
  font-weight: bold;
  margin-top: 20px;
}

.message-container .signature {
  margin-top: 20px;
}

