* {
  margin: 0;
  padding: 0;
}

/* Index | Inicio */
/* body */
body {
  font-family: "Bungee Spice", sans-serif;
  font-family: "Merriweather", serif;
  min-height: 100vh;
}

/* Img de portada */
.img-portada {
  background: linear-gradient(to right, #11998e65, #38ef7e62),
    url(../images/26c5c9_3c3553bdf0764d868fc8899f16d040a5~mv2.webp);
  background-attachment: fixed;
  background-size: cover;
  height: 80vh;
  overflow: hidden;
}

/* Titulo portada */
.titulo-portada {
  text-align: center;
  overflow: hidden;
}

.texto {
  font-weight: 800;
  color: #0b0404;
  font-size: 40px;
  padding-top: 180px;
}

.p {
  margin-top: 30px;
}
/* Nav */
.bg-body-tertiary {
  background-color: #0b0404 !important;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #f3f3f3;
}
.nav-link {
  color: #f3f3f3;
}
.navbar-toggler {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: #0b0404;
}
.navbar-toggler-icon {
  background-image: url(" https://img.icons8.com/3d-fluency/94/menu.png ");
}

/* FOOTER */
.footer {
  background-color: #f5f5f5;
  padding: 20px;
  overflow: hidden;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.footer-title {
  font-size: 1.3em;
  font-weight: bold;
}

.footer-description {
  font-size: 0.9em;
  line-height: 1.5em;
}

.footer-social {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.footer-social li {
  margin-right: 10px;
}

.footer-social i {
  font-size: 2em;
}

.copyright {
  text-align: center;
  font-size: 0.8em;
  color: #777;
  margin-top: 30px;
}
/* iconos del footer */
.img,
svg {
  background-color: #f3f3f3;
  border-radius: 30%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  outline: 2px solid #f5f5f5;
  transition: outline-color 0.5s ease;
}
.img:hover,
svg:hover {
  outline: 3.5px solid #d0d00d;
}

/*ACERCA DE */
.img-acerca {
  width: 40%;
  margin: 20px;
  margin-bottom: 0;
}
.div-img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-attachment: fixed;
  background-size: contain;
  width: 100%;
  height: 60vh;
}
.cover-text {
  margin: 20px;
}
.main-acerca {
  min-height: 140vh;
}
p {
  margin-bottom: 0.5rem;
}
.row-footer {
  margin-top: 20px;
}

.h1-acerca {
  margin-top: 50px;
  margin-bottom: 15px;
}

/* strong */
b,
strong {
  font-weight: bolder;
  color: #d0d00d;
}

/* PREGUNTAS FRECUENTES */
.Container-- {
  margin: 20px;
}
.p-preg {
  margin-bottom: 25px;
}
.h1-preg {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
  font-weight: 800;
}
.container-preg {
  margin-bottom: 100px;
}
.main-preg {
  min-height: 100vh;
}

.p-tienda {
  margin-top: 30px;
}
.div-tienda {
  margin: 20px;
}

/* TIENDA */
.img-tienda {
  width: auto;
}
.card {
  width: 300px;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 5px;
}
.section-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}
.title.is-4 {
  font-size: 1.4rem !important;
}
.pp-tienda {
  font-size: 0.9rem;
  margin: 0;
}
.subtitle.is-6 {
  font-size: 0.7rem;
}
.card-content {
  padding: 1rem;
}

/* Seccion de la pagina de Testimonios */
.testimonials {
  display: flex;
  overflow: hidden;
  padding: 0px;
  margin: 0 auto;
}
.testimonial {
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 260px;
  margin: 20px;
}
.testimonial img {
  width: 100px;
  height: 100px;
  background-color: white;
  box-shadow: rgba(10, 13, 17, 0.724) 0px 0px 0px 2px;
}

.botones {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.bt {
  margin: 10px;
}
.testimonials {
  overflow: hidden;
  width: 300px;
  margin: 0 auto;
}
.testimonial-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.testimonial {
  width: 300px;
  box-sizing: border-box;
}

/* SECCION CARRUSEL DE PAGINA DE INICIO */
/* Añade estos estilos al final del archivo styles.css o en un nuevo archivo específico para el carrusel */
.courses {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

.course {
  width: 100%;
  max-width: 300px;
  position: relative;
  margin-right: 10px;
}
.course img {
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000bd;
  opacity: 0;
  transition: opacity 0.5s;
}
.course:hover .overlay {
  opacity: 1;
}
.discount {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 10px;
}
.btn-primary {
  background-color: black;
  color: #fff;
}
.button.is-primary.is-outlined {
  margin: 5px;
}
.button.is-link.is-outlined {
  margin: 5px;
}
.h2-ini {
  font-size: 1.3em;
  font-weight: bold;
  margin: 20px;
  text-align: center;
}

    /* Estilos para la sección de testimonios */
    .custom-testimonial-card {
      background-color: #d2d4d6;
      border: 1px solid #dee2e6;
      border-radius: 10px;
      padding: 20px;
      margin: 20px;
      text-align: center;
    }

    .custom-testimonial-img {
      border-radius: 50%;
      background-color: white;
      max-width: 100px;
      margin-bottom: 15px;
      box-shadow: rgba(190, 210, 4, 0.4) 0px 5px, rgba(179, 182, 7, 0.3) 0px 10px, rgba(166, 184, 3, 0.2) 0px 15px, rgba(171, 197, 4, 0.1) 0px 20px, rgba(185, 209, 10, 0.05) 0px 25px;
    }

    .custom-testimonial-quote {
      font-style: italic;
      color: black;
    }

    .custom-client-name {
      margin-top: 10px;
      font-weight: bold;
      color: #495057;
    }
    .custom-testimonials{
      margin-top: 50px;
      margin-bottom: 100px;
      background-image: url(https://i.gifer.com/6ob.gif);
      background-attachment: fixed;
      background-size: cover;
    }
    .video-test{
      width:100%;
      box-shadow: rgba(169, 172, 7, 0.646) 0px 40px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgb(15, 52, 67) 0px -3px 5px;
      border-radius: 5px;
    }
    .content{
      padding: 10px;
    }
      .figure {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }